In [1]:
#1.	Write a Pandas program to compare the elements of two Pandas series. 
#Sample Series [4,65,436,3,9], [7,0,3,897,9]
# Assume the series are called ds1 and ds2 respectively
import pandas as pd
ds1 = pd.Series([4,65,436,3,9])
ds2 = pd.Series([7,0,3,897,9])
print("Compare the elements of the said Series:")
print("Equals:")
print(ds1 == ds2)
print("Greater than:")
print(ds1 > ds2)
print("Less than:")
print(ds1 < ds2)

Compare the elements of the said Series:
Equals:
0    False
1    False
2    False
3    False
4     True
dtype: bool
Greater than:
0    False
1     True
2     True
3    False
4    False
dtype: bool
Less than:
0     True
1    False
2    False
3     True
4    False
dtype: bool

In [2]:
# 2.2.	Write a Pandas program to add, subtract, multiply and divide two Pandas series. 
#Sample Series: [2,4,6,8,14], [1,3,5,7,9]

ds1 = pd.Series([2, 4, 6, 8, 14])
ds2 = pd.Series([1, 3, 5, 7, 9])
ds = ds1 + ds2
print("Add two Series:")
print(ds)
print("Subtract two Series:")
ds = ds1 - ds2
print(ds)
print("Multiply two Series:")
ds = ds1 * ds2
print(ds)
print("Divide Series1 by Series2:")
ds = ds1 / ds2
print(ds)

Add two Series:
0     3
1     7
2    11
3    15
4    23
dtype: int64
Subtract two Series:
0    1
1    1
2    1
3    1
4    5
dtype: int64
Multiply two Series:
0      2
1     12
2     30
3     56
4    126
dtype: int64
Divide Series1 by Series2:
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.555556
dtype: float64

In [3]:
#3.	Write a Pandas program to convert a dictionary to a Pandas series. 
#Sample dictionary: dictionary1 = {‘Josh’: 24, ‘Sam’: 36, ‘Peace’: 19, ‘Charles’: 65, ‘Tom’: 44}

d = {'Josh' : 24, 'Sam' : 36,
     'Peace' : 19, 'Charles' : 65,
     'Tom' : 44}
result_series = pd.Series(d)
result_series

Josh       24
Sam        36
Peace      19
Charles    65
Tom        44
dtype: int64

In [4]:
#4.	Write a Pandas program to convert a given series to an array.
#Sample series: [‘Love’, 800, ‘Joy’, 789.9, ‘Peace’, True]

import numpy as np
s1 = pd.Series(['Love', 800, 'Joy', 789.9, 'Peace', True])
print("Series to an array")
a = s1.values
print(a)

Series to an array
['Love' 800 'Joy' 789.9 'Peace' True]

# Dataframes

In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

pd.options.display.max_columns=50
sns.set(style="darkgrid",rc={"axes.facecolor":"#CAF1DE"})

In [6]:
#1.	Write a Pandas program to read the given csv file.
nb=pd.read_csv("AfricaCupofNationsMatches.csv")
print(nb)

     Year                      Date   Time      HomeTeam       AwayTeam  \
0    1957                  10-Feb-57    NaN       Sudan           Egypt
1    1957                  10-Feb-57    NaN    Ethiopia    South Africa
2    1957                  16-Feb-57    NaN       Egypt        Ethiopia
3    1959                  22-May-59    NaN        Egypt       Ethiopia
4    1959                  25-May-59    NaN       Sudan        Ethiopia
..    ...                        ...    ...          ...            ...
617  2019  11 July 2019 (2019-07-11)  21:00  Madagascar         Tunisia
618  2019  14 July 2019 (2019-07-14)  18:00     Senegal         Tunisia
619  2019  14 July 2019 (2019-07-14)  21:00     Algeria         Nigeria
620  2019  17 July 2019 (2019-07-17)  21:00     Tunisia         Nigeria
621  2019  19 July 2019 (2019-07-19)  21:00     Senegal         Algeria

     HomeTeamGoals  AwayTeamGoals                 Stage  \
0              1.0            2.0            Semifinals
1              NaN            NaN            Semifinals
2              4.0            0.0                 Final
3              4.0            0.0      Final Tournament
4              1.0            0.0      Final Tournament
..             ...            ...                   ...
617            0.0            3.0        Quarter-finals
618            1.0            0.0           Semi-finals
619            2.0            1.0           Semi-finals
620            0.0            1.0  Third place play-off
621            0.0            1.0                 Final

                                  SpecialWinConditions  \
0                                                  NaN
1    Ethiopia  wins due to disqualification of othe...
2                                                  NaN
3                                                  NaN
4                                                  NaN
..                                                 ...
617                                                NaN
618                              win after extra time
619                                                NaN
620                                                NaN
621                                                NaN

                         Stadium       City  Attendance
0              Municipal Stadium   Khartoum     30000.0
1                            NaN        NaN         NaN
2              Municipal Stadium   Khartoum     30000.0
3          Prince Farouk Stadium      Cairo     30000.0
4          Prince Farouk Stadium      Cairo     20000.0
..                           ...        ...         ...
617             Al Salam Stadium      Cairo      7568.0
618              30 June Stadium      Cairo      9143.0
619  Cairo International Stadium      Cairo     49775.0
620             Al Salam Stadium      Cairo      6340.0
621  Cairo International Stadium      Cairo     75000.0

[622 rows x 12 columns]

In [7]:
#number 5 of series
most_frequent_value = nb['HomeTeamGoals'].value_counts().idxmax()

# Replace values other than the most frequent value with 'Other' in the 'HomeTeamGoals' column
nb['HomeTeamGoals'] = nb['HomeTeamGoals'].where(nb['HomeTeamGoals'] == most_frequent_value, 'Other')

# Print the updated DataFrame
nb

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,Other,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,Other,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,Other,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,Other,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,Other,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,Other,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,Other,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

In [8]:
#2.	Write a Pandas program to get the first 7 rows of your data frame
nb1=nb.head(7)
nb1

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,Other,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,Other,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,Other,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,Other,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,Other,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0

In [9]:
#3.	Write a Pandas program to select the ‘HomeTeam’, ‘AwayTeam’, ‘HomeTeamGoals’ and ‘AwayTeamGoals’ columns from your data frame
filtered_nb=nb[['HomeTeam','AwayTeam','HomeTeamGoals','HomeTeamGoals']]
filtered_nb

        HomeTeam       AwayTeam HomeTeamGoals HomeTeamGoals
0         Sudan           Egypt           1.0           1.0
1      Ethiopia    South Africa         Other         Other
2         Egypt        Ethiopia         Other         Other
3          Egypt       Ethiopia         Other         Other
4         Sudan        Ethiopia           1.0           1.0
..           ...            ...           ...           ...
617  Madagascar         Tunisia         Other         Other
618     Senegal         Tunisia           1.0           1.0
619     Algeria         Nigeria         Other         Other
620     Tunisia         Nigeria         Other         Other
621     Senegal         Algeria         Other         Other

[622 rows x 4 columns]

In [10]:
#4.	Write a Pandas program to select the rows where Egypt appears.
egypt_rows = nb[nb.eq('Egypt').any(axis=1)]
egypt_rows

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
3,1959,22-May-59,NaN,Egypt,Ethiopia,Other,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
5,1959,29-May-59,NaN,Egypt,Sudan,Other,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
7,1962,18-Jan-62,NaN,Egypt,Uganda,Other,1.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,Other,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
13,1963,24-Nov-63,NaN,Egypt,Nigeria,Other,3.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
14,1963,26-Nov-63,NaN,Egypt,Sudan,Other,2.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,NaN
16,1963,30-Nov-63,NaN,Egypt,Ethiopia,Other,0.0,Third place match,NaN,Accra Sports Stadium,Accra,NaN

In [11]:
#5.	Write a Pandas program to count the number of rows and columns of your data frame
rows = len(nb.axes[0])
cols = len(nb.axes[1])
print("Number of Rows: ", rows)
print("Number of Columns: ", cols)

Number of Rows:  622
Number of Columns:  12

In [14]:
#6.	Write a Pandas program to select the rows where the ‘Attendance’ is missing.
missing = nb[nb['Attendance'].isnull()]
missing

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,Other,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
8,1962,20-Jan-62,NaN,Tunisia,Uganda,Other,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,Other,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
10,1963,24-Nov-63,NaN,Ghana,Tunisia,1.0,1.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
11,1963,26-Nov-63,NaN,Ghana,Ethiopia,Other,0.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
565,2017,29 January 2017 (2017-01-29),20:00,Egypt,Morocco,1.0,0.0,Quarter-finals,NaN,Stade de Port-Gentil,Port-Gentil,NaN
566,2017,1 February 2017 (2017-02-01),20:00,Burkina Faso,Egypt,1.0,1.0,Semi-finals,Egypt win on Penalities 3-4,Stade de l'Amitié,Libreville,NaN
567,2017,2 February 2017 (2017-02-02),20:00,Cameroon,Ghana,Other,0.0,Semi-finals,NaN,Stade de Franceville,Franceville,NaN
568,2017,4 February 2017 (2017-02-04),20:00,Burkina Faso,Ghana,1.0,0.0,Third place play-off,NaN,Stade de Port-Gentil,Port-Gentil,NaN
569,2017,5 February 2017 (2017-02-05),20:00,Egypt,Cameroon,1.0,2.0,Final,NaN,Stade de l'Amitié,Libreville,NaN

In [18]:
#8.	Write a Pandas program to change the “AwayTeamGoals” in the 3rd row to 10.
nb.at[2, 'AwayTeamGoals'] = 10
nb

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,Other,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,Other,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,Other,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,Other,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,Other,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,Other,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,Other,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0

In [1]:
#9.	Write a Pandas program to sort the DataFrame first by ‘HomeTeam’ in ascending order, then by ‘HomeTeamScores’ in descending order.
sort_nb =nb.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])
sort_nb

NameError: name 'nb' is not defined

In [ ]:
#10.	Write a Pandas program to get list from DataFrame column headers.
nb.columns

In [ ]:
#11.	Write a Pandas program to append a column of your choice to your DataFrame
# the new column is called prizes

new_column = pd.Series(['object'])
nb['Prizes'] = new_column
nb

In [ ]:
#12.	Write a Pandas program to add 2 rows to your DataFrame

new_rows = pd.DataFrame({'city': ['Kampala', 'Mbarara']})

# Concatenate the new DataFrame with the existing DataFrame
nb_updated = pd.concat([nb, new_rows], ignore_index=True)

# Print the updated DataFrame
nb_updated.shape

In [ ]:
#13.	Write a Pandas program to change the country ‘Uganda’ to ‘China’ in the ‘AwayTeam’ column of the DataFrame.
nb['AwayTeam'].replace('Uganda', 'China')
nb

In [ ]:
#14.	Write a Pandas program to reset index in your DataFrame.
nb.reset_index(inplace = True)
nb

In [ ]:
#15.	Write a Pandas program to check whether the ‘Stadium’ column is present in your DataFrame or not.
if 'Stadium' in nb.columns:
    print("PRESENT.")
else:
    print("NOT FOUND")

In [ ]:
#16.	Write a Pandas program to convert the datatype of the ‘AwayTeamGoals’. (int to float)
nb['AwayTeamGoals'] = nb['AwayTeamGoals'].astype(float)
print(nb.dtypes)

In [ ]:
#17.	Write a Pandas program to remove the last 10 rows from your DataFram
nb=nb[:-10]
nb.shape

In [ ]:
#18.	Write a Pandas program to iterate over rows in your DataFrame
for index, row in nb.iterrows():
    print(f"Row index: {index}")

    # Iterate over columns
    for column in nb.columns:
        print(f"{column} value: {row[column]}")

    print("")

In [ ]:
#19.	Write a Pandas program to change the order of your DataFrame columns
new_order =['Time ','Date ','Year',  'HomeTeam''HomeTeamGoals', 'AwayTeam', 
       'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 
       'Attendance', 'City', 'Prizes']
nb3 = nb.reindex(columns=new_order)

# Print the updated DataFrame with columns in the new order
nb3

In [21]:
#20.	Write a Pandas program to delete DataFrame row(s) whose value is 0 in the ‘HomeTeamGoals’ columns.
deleted_nb3 = nb[nb['HomeTeamGoals'] != 0]
deleted_nb3

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,Other,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,Other,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,Other,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,Other,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0
618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0
619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,Other,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0
620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,Other,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0
621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,Other,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0